.avatar-container {
    height: 500px;
    width: 650px;
    margin-top: 32px;
  }
  
  #avatar-loading {
    font-size: 1em;
    display: flex
    ;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    canvas {
      width: 100% !important;
      height: 100% !important;
      display: block; /* Évite un espace blanc sous le canvas */
    }
    @keyframes rotation {
    0% {
        transform:translate(-50%,-50%) rotate(0deg) ;
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg) ;
    }
    } 