
<nav>
  <div class="container-dark-mode"><input id="dark-mode" class="dark-mode" type="checkbox" [(ngModel)]="toggleDarkMode" (click)='toggleDarkLightMode()'>
  </div>
  <div id='toggle'>
    <div></div>
  </div>
  <ul class="nav-list">
    <li
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="linkMenu"
    >
      <span>
        <div>Accueil</div>
      </span>
    </li>
    <li routerLink="presentation" routerLinkActive="active" class="linkMenu">
      <span>
        <div>Presentation</div>
      </span>
    </li>
    <li routerLink="projets" routerLinkActive="active" class="linkMenu">
      <span>
        <div>Projets</div>
      </span>
    </li>
    <li routerLink="contact" routerLinkActive="active" class="linkMenu">
      <span>
        <div>Contact</div>
      </span>
    </li>
    <div class="smart-bar" #smartBar></div>
  </ul>
</nav>