nav {
  background-color: #090a0f;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 10%;
}

.linkMenu {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #80cfe9;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  &:hover::after,
  &.active::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* Menu telephone */
/* Toggle */

#toggle {
  width: 30px;
  height: 0px;
  margin: 30px 30px;
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 100;
}
#toggle div,
#toggle div:after,
#toggle div:before {
  width: 40px;
  height: 5px;
  background: #eee;
  transition: all 0.3s;
  border-radius: 3px;
}
#toggle div:after,
#toggle div:before {
  content: "";
  position: absolute;
}
#toggle div:after {
  top: 14px;
}
#toggle div:before {
  top: -14px;
}
#toggle.on div {
  background-color: transparent;
}
#toggle.on div:before {
  transform: rotate(45deg) translate(9.5px, 9px);
}
#toggle.on div:after {
  transform: rotate(-45deg) translate(9px, -9.5px);
}
#toggle.on + #menu {
  display: block;
}

@media (max-width: 650px) {
  #toggle{
    display: block !important;
  }
  .nav-list{
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #090a0f;
    margin-right: 0;
    justify-content: start;
    align-items: center;
    top: 57px;
    display: none;
  }
  nav{
    align-items: start;

  }
  .linkMenu{
    padding: 4px;
    margin: 10px 5px;
    span{
      font-size: 2.2rem;
    }
  }
}
.menu-tel{
  display: flex;
}
