
<nav>
  <div id='toggle'>
    <div></div>
  </div>
  <ul class="nav-list">
    <li
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="linkMenu"
    >
      <span>
        <div>Home</div>
      </span>
    </li>
    <li routerLink="presentation" routerLinkActive="active" class="linkMenu">
      <span>
        <div>Presentation</div>
      </span>
    </li>
    <li routerLink="projets" routerLinkActive="active" class="linkMenu">
      <span>
        <div>Projets</div>
      </span>
    </li>
    <li routerLink="contact" routerLinkActive="active" class="linkMenu">
      <span>
        <div>Contact</div>
      </span>
    </li>
  </ul>
</nav>