<div class="container">
  <div class="header-content">
  </div>
  <section>
    <app-avatar></app-avatar>
    <div class="content">
      <h1><span class="gradient-text">Alexis Delaunay</span></h1>

      <h2>
        <span class="first-word">Développeur</span><span class="second-word"> Full Stack</span>
      </h2>
      <button routerLink="cv" routerLinkActive="active" class="btn-cv">
        <img src="../../../../assets/icons/cv.png" alt="CV"> Voir mon CV
      </button>
      <div class="wrapper-reseaux">
        <div (click)="navigateToExternalLink('https://github.com/Skitch49')">
          <img
            src="../../../../assets/images/github.png"
            id="github"
            (mouseenter)="addRotationAnimation($event)"
          />
        </div>
        <div
          (click)="
            navigateToExternalLink(
              'https://www.linkedin.com/in/alexis-delaunay'
            )
          "
        >
          <img
            src="../../../../assets/images/linkedin.png"
            (mouseenter)="addRotationAnimation($event)"
          />
        </div>
        
      </div>
    </div>
  </section>
</div>