<div @container class="container">
  <section class="wrapper">
    <div class="astronaute-container">
      <img
        id="astronaute"
        class="astronaute"
        src="../../../../assets/images/Kerbal.png"
      />
    </div>
    <div *ngIf="planet" class="planet">
      <img src="../../../../assets/images/soleil.png" class="soleil" alt="soleil" />
      <img
        [src]="imgSrc"
        class="lune"
        alt="lune"
        (mouseover)="imgSrc = '../../../../assets/images/lune1.png'"
        (mouseout)="imgSrc = '../../../../assets/images/lune.png'"
      />
    </div>

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="title">
      <h1>Alexis DELAUNAY</h1>
      <h2>DÉVELOPPEUR WEB</h2>
      <span>X</span>
      <h2>ÉTUDIANT</h2>
      <p routerLink="cv" routerLinkActive="active" class="btn-cv"><span></span><span></span><span></span><span></span>Voir mon CV</p>
    </div>
  </section>
  
  <section class="sectionWave">
    <div class="waves">
      <div
        class="wave"
        id="wave1"
        [ngStyle]="{ backgroundImage: 'url(../../../../assets/images/wave.png)' }"
      ></div>
      <div
        class="wave"
        id="wave2"
        [ngStyle]="{ backgroundImage: 'url(../../../../assets/images/wave.png)' }"
      ></div>
      <div
        class="wave"
        id="wave3"
        [ngStyle]="{ backgroundImage: 'url(../../../../assets/images/wave.png)' }"
      ></div>
      <div
        class="wave"
        id="wave4"
        [ngStyle]="{ backgroundImage: 'url(../../../../assets/images/wave.png)' }"
      ></div>
      <img src="../../../../assets/images/island.png" class="island" />
      <img src="../../../../assets/images/beach1.jpg" class="beach" />
      <div class="wrapper-reseaux">
        <div (click)="navigateToExternalLink('https://github.com/Skitch49')"><img src="../../../../assets/images/github.png" id="github" (mouseenter)="addRotationAnimation($event)" ></div>
        <div (click)="navigateToExternalLink('https://www.linkedin.com/in/alexis-delaunay')"><img src="../../../../assets/images/linkedin.png" (mouseenter)="addRotationAnimation($event)"></div>
        <div (click)="navigateToExternalLink('https://twitter.com/Skitch49')"><img src="../../../../assets/images/twitter.png" (mouseenter)="addRotationAnimation($event)"></div>
        <div (click)="navigateToExternalLink('https://www.instagram.com/alexis_delaunay_49/')"><img src="../../../../assets/images/Instagram.webp" id="github" (mouseenter)="addRotationAnimation($event)"></div>
      </div>
    </div>
  </section>
</div>
