<div  class="wrapper-cv">
<div @cv class="container">
    <div class="left-side">
        <div class="profil-text">
            <div class="img-box">
                <div class="box-profil">
                <img src="../../assets/images/profil.jpg">
            </div>
            </div>
            <h2>Alexis DELAUNAY<br><span>Developpeur Web</span></h2>
        </div>
        <div class="contact-info">
            <h3 class="title">Contact</h3>
            <ul>
                <li>
                    <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <span class="text">07 80 50 45 87</span>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <span class="text">delaunay.alexis49&#64;gmail.com</span>
                </li>
                <li (click)="navigateToExternalLink('https://alexis-delaunay.fr/')" class="pointer">
                    <span class="icon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                    <span class="text">alexis-delaunay.fr</span>
                </li>
                <li (click)="navigateToExternalLink('https://linkedin.com/in/alexis-delaunay')" class="pointer" id="linkedin">
                    <span class="icon"><i class="fa-brands fa-linkedin"></i></span>
                    <span class="text">linkedin.com/in/alexis-delaunay</span>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="text">Angers</span>
                </li>
            </ul>
        </div>

        <div class="contact-info formation">
            <h3 class="title">Formation</h3>
            <ul>
                <li>
                    <h5>2022 - 2024</h5>
                    <h4>MBA Développeur Full Stack</h4>
                    <h4>MyDigitalSchool Angers</h4>
                </li>
                <li>
                    <h5>2021 - 2022</h5>
                    <h4>Bachelor Numérique</h4>
                    <h4>ESAIP Saint-Barthélemy-d'Anjou</h4>
                </li>
                <li>
                    <h5>2019 - 2021</h5>
                    <h4>BTS SIO option SLAM</h4>
                    <h4>Lycée Chevrollier Angers</h4>
                </li>
                <li>
                    <h5>2017 - 2019</h5>
                    <h4>Bac Scientifique</h4>
                    <h4>Lycée Saint Louis Saumur</h4>
                </li>
            </ul>
        </div>

        <div class="contact-info competences">
            <h3 class="title">Compétences</h3>
            <ul>
                <li>
                    <i class="fa-regular fa-circle-check"></i> Création de Base de Données
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> Création de site web
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> Création de PWA
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> Modélisation UML
                </li>
            </ul>
        </div>


    </div>
    <div class="right-side">
        <div class="about">
            <h2 class="title2">Profil</h2>
            <p>Développeur web passionné et créatif, je viens d'obtenir mon MBA Développeur Full Stack à MyDigitalSchool Angers.</p>
                <p>Fort d'une solide formation en développement, curieux & dynamique, je suis convaincu que mon dévouement, mon esprit d'équipe et ma volonté d'apprendre continuellement sont des atouts qui me permettront
                  de réussir dans de futurs projets.</p>
        </div>
        <div class="about">
            <h2 class="title2">Experiences Professionnelles</h2>
            <div class="box">
                <div class="year-company">
                    <h5>09-2022 - 11-2023</h5>
                    <h5>ESAIP</h5>
                </div>
                <div class="text">
                    <h4>Apprenti Chargé de projet développement WEB et SI</h4>
                    <p>Création de projet digitaux</p>
                </div>
            </div>

            <div class="box">
                <div class="year-company">
                    <h5>06-2022 - 09-2022</h5>
                    <h5>Angers Loire Campus</h5>
                </div>
                <div class="text">
                    <h4>Stage en Bachelor pour la structure légère Angers Loire Campus</h4>
                    <p>Création de thème WordPress avec partie gestionnaire de fichier pour Angers Loire Campus</p>
                </div>
            </div>

            <div class="box">
                <div class="year-company">
                    <h5>07-2021 - 09-2021</h5>
                    <h5>Adecco</h5>
                </div>
                <div class="text">
                    <h4>Intérimaire</h4>
                    <p>Mise en bouteilles & serveur</p>
                </div>
            </div>

            <div class="box">
                <div class="year-company">
                    <h5>01-2021 - 02-2021</h5>
                    <h5>AZERTY-CONSULTING</h5>
                </div>
                <div class="text">
                    <h4>Stage de seconde année de BTS situer à Angers French Tech</h4>
                    <p>Création de site wordpress</p>
                </div>
            </div>
        </div>
        <div class="about skills">
            <h2 class="title2">Compétences Professionnelles</h2>
            <div class="boxes">
                <div class="box">
                    <h4>HTML/CSS</h4>
                </div>
                <div class="box">
                    <h4>JavaScript</h4>
                </div>
                <div class="box">
                    <h4>PHP</h4>
                </div>
                <div class="box">
                    <h4>Java</h4>
                </div>
                <div class="box">
                    <h4>Angular</h4>
                </div>
                <div class="box">
                    <h4>WordPress</h4>
                </div>
                <div class="box">
                    <h4>Git</h4>
                </div>
                <div class="box">
                    <h4>MySQL</h4>
                </div>
            </div>
        </div>
        <div class="about interest">
            <h2 class="title2">Centres d'interets</h2>
            <ul>
                <li><i class="fa-solid fa-film"></i>films, séries</li>
                <li><i class="fa-solid fa-person-running"></i>Sport</li>
                <li><i class="fa-solid fa-rocket"></i>Astronomie</li>
                <li><i class="fa-solid fa-music"></i>Musique</li>
                <!-- <li><i class="fa-solid fa-desktop"></i>Montage Vidéo</li> -->

            </ul>
        </div>
    </div>
</div>
</div>
<div class="container-btn">
    <button class="btn" (click)="downloadCV()">
        <span>Télécharger CV</span>
      </button>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />