<mat-dialog-content class="project-details">
  <header>
    <div class="project-infos">
      <h2>{{ data.project.name }}</h2>
      <h3>{{ data.project.type }}</h3>
      <div class="container-techno">
        <div
          class="techno"
          *ngFor="let tech of data.project.techno"
          [ngStyle]="{ 'background-color': tech.color }"
        >
          <img
            [src]="
              tech.img
                ? '../../assets/images/' + tech.name.toLowerCase() + '.png'
                : '../../assets/images/tech.png'
            "
            [alt]="tech.name"
          />
          <p>{{ tech.name }}</p>
        </div>
      </div>
      <div
        *ngIf="data.project.siteweb || data.project.github"
        class="container-btn"
      >
        <a
          [href]="data.project.siteweb"
          *ngIf="data.project.siteweb"
          target="_blank"
          class="btn-primary"
        >
          Voir le site
        </a>
        <a
          [href]="data.project.github"
          *ngIf="data.project.github"
          target="_blank"
          class="btn-secondary"
        >
          Voir le github
        </a>
      </div>
    </div>
    <figure>
      <img [src]="data.project.img" alt="{{ data.project.name }}" />
    </figure>
  </header>

  <p id="desc-project">{{ data.project.description }}</p>
</mat-dialog-content>

<button mat-dialog-close aria-label="close" class="x">❌</button>
