mat-dialog-content.project-details {
  max-height: 80vh;
  overflow-y: auto;
  scroll-behavior: auto; /* empêche le scroll animé vers le bas */
}
.project-details {
  padding: 1rem 2rem;
  color: var(--text-color);
  background-color: var(--black);
  max-width: max-content;
  padding-top: 1.5rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    figure {
      max-width: 50%;
      img {
        user-select: none;

        border-radius: 4px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .container-techno {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 12px 0;
    .techno {
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 99px;
      padding: 2px 6px;
      overflow: hidden;
      p {
        margin-right: 2px;
        font-size: 14px;
        font-weight: 600;
        color: var(--text-color-gray-inversed);
      }
      img {
        width: 20px;
        user-select: none;
      }
    }
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}
#desc-project {
  white-space: pre-line;
  margin-top: 8px;
}
.x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
  &:hover {
    filter: invert(14%) sepia(50%) saturate(5297%) hue-rotate(355deg)
      brightness(106%) contrast(94%);
  }
}
.container-btn {
  display: flex;
  gap: 16px;
  margin-top: 1rem;
  justify-content: center;
  a {
    appearance: none;
    text-decoration: none;
    padding: 10px 18px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    font-size: clamp(14px, 2vw, 22px);
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .btn-primary {
    background-color: var(--text-color-green);
    color: var(--text-color);

    transition: background-color 0.2s ease, scale 0.2s ease;

    will-change: transform, opacity;
    animation: apparitionTop 0.4s 2.3s forwards;
    &:hover {
      background-color: #00c566c5;
      scale: 1.05;
    }
  }
  .btn-secondary {
    background-color: var(--lightgray);
    color: var(--text-color-green);
    transition: background-color 0.2s ease, scale 0.2s ease;

    will-change: transform, opacity;
    animation: apparitionTop 0.4s 2.5s forwards;
    &:hover {
      background-color: #cfcfcf;
      scale: 1.05;
    }
  }
}

@media (max-width: 1100px) {
  .container-btn {
    a {
      padding: 6px 14px;

      font-size: 16px;
    }
  }
}
@media (max-width: 792px) {
  header {
    flex-direction: column;
    figure {
      margin-top: 2rem;
    }
  }
}
@media (max-width: 500px) {
  .container-btn {
    flex-direction: column;
    a {
      justify-content: center;
      padding: 5px 12px;
      font-size: 14px;
    }
  }
}
