.container-music {
  margin: 0;
  font-size: 12px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  min-width: 50%;
  min-height: 50%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  transform: scale(1.04);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-player {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.container-player:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.player-img {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  margin-bottom: -20px;
}

.player-img img {
  object-fit: cover;
  border-radius: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.player-img:hover img {
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 1;
}

h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin: 10px 0 0;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin: 10px 0 0;
}

.player-progress {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px 35px;
  height: 6px;
  width: 90%;
}
.progress {
  background-color: #212121;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.music-duration {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.player-controls {
  margin-bottom: 25px;
}

.fa-solid {
  font-size: 30px;
  color: #666;
  margin: 0 15px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.fa-solid:hover {
  filter: brightness(40%);
}

.container-current-track {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  .current-track {
    width: clamp(650px, 40%, 760px);
    background-color: #21212186;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    color: #e7e7e7;
    border-radius: 18px;
    &:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
    }
    .track {
      display: flex;
      .picture-track {
        display: flex;
      }
      img {
        border-bottom-left-radius: 18px;
        border-top-left-radius: 18px;
        height: 195px;
      }

      .info-track {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        h2 {
          text-align: center;
        }
        .track-name {
          font-size: 24px;
          padding-left: 2rem;
          padding-top: 2rem;
          width: fit-content;
        }
        .artists {
          padding-left: 2rem;
          font-size: 18px;
          padding-top: 4px;
          width: fit-content;
          display: flex;
          span {
            padding-left: 6px;
          }
        }
      }
    }
  }
  a {
    color: #e7e7e7;
    text-decoration: none;
  }
}
.loader {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-bottom: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  .stroke {
    display: block;
    position: relative;
    background-color: #f1f1f1;
    height: 100%;
    width: 6px;
    border-radius: 50px;
    margin: 0 4px;
    animation: music 1.2s linear infinite;
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.9s;
    }
    &:nth-child(5) {
      animation-delay: 0.6s;
    }
    &:nth-child(6) {
      animation-delay: 0.3s;
    }
    &:nth-child(7) {
      animation-delay: 0s;
    }
  }
}
@keyframes music {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}
.container-spotify {
  background-color: #212121;
  color: #e7e7e7;
  // clip-path: polygon(-120% 5%, 100% 0%, 100% 200%);
  padding-top: 1rem;
  form {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    .item {
      padding-right: 8px;
    }
  }
  h2 {
    margin: 1rem;
  }
  a {
    color: #e7e7e7;
    text-decoration: none;
    width: fit-content;
    figure {
      width: clamp(200px, 100%, 260px);
      height: clamp(200px, 100%, 260px);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .info-track {
    width: 260px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
      width: 100%;
      font-size: 24px;
    }
    .artists {
      padding-top: 4px;
    }
    .artists > a {
      font-size: 18px;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: clamp(16px, 2rem, 20px);
      width: min-content;
      padding: 0 5px;
    }
  }
}
.container-stat-fm {
  display: flex;
  flex-direction: column;
  align-items: center;
  .stat-fm {
    border-top: 1px solid #666;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    transition: width 0.4s ease;
    .btn-last-fm {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: #666;
      padding: 4px;
      border-radius: 8px;
      margin-top: 1rem;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: #10b951;

        .logo span {
          background-color: #e7e7e7;
        }
      }
      .logo {
        height: 25px;
        display: flex;
        justify-content: flex-end;
        margin-right: 6px;

        align-items: flex-end;
        margin-bottom: 8px;
        span {
          display: block;
          position: relative;
          background-color: #10b951;
          transition: background-color 0.2s ease-in-out;

          height: 100%;
          width: 6px;
          border-radius: 50px;
          margin: 0 4px;
          &:nth-child(1) {
            height: 70%;
          }
          &:nth-child(2) {
            height: 100%;
          }
          &:nth-child(3) {
            height: 45%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 850px) {
  .stat-fm {
    width: 70% !important;
  }
}
@media (max-width: 690px) {
  .stat-fm {
    width: 90% !important;
    text-align: justify;
  }
  .container-current-track {
    padding: 4rem 0 !important;
  }
  .current-track {
    width: 400px !important;
  }
  .track {
    flex-direction: column;
    h2 {
      position: absolute;
      top: -465px;
      left: 12.5px;
      font-size: 1.5rem;
    }
    img {
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 18px;
      width: 100%;
      height: 100% !important;
    }
    .track-name {
      padding-left: 1.5rem !important;
      padding-top: 1.5rem !important;
    }
    .artists {
      padding-left: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }
    .loader {
      margin-bottom: 12px !important;
      margin-right: 1rem;
      height: 22px;
      span {
        width: 4px;
      }
    }
  }
}
@media (max-width: 500px) {
  .container-spotify {
    form {
      flex-direction: column;
      align-items: center;
      .item {
        padding-right: 0;
        padding: 8px 0;
      }
    }
  }
}
@media (max-width: 450px) {
  .current-track {
    width: 100% !important;
  }
  .container-player {
    margin: 0 10%;
  }
  .player-img {
    top: -30px;
    margin-bottom: -10px;
    width: 85%;
    height: 100%;
  }
}
@media (max-width: 370px) {
  .container-player {
    margin: 0px 5%;
  }
}
