/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.body-open-menu {
  overflow: hidden;
}
:root {
  --font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --primary: #546de5;
  --secondary: #778beb;
  --accent: #546de5;
  --lightgray: #ddd;
  --black: #090a0f;
  --text-regular: #444;
  --text-color-gray-1: #373737ba;
  --text-color-gray-inversed: #f1f1f1;
  --background-gradient-1: #080808;
  --background-gradient-2: #1f1e28;
  --text-color: #f1f1f1;
  --text-color-secondary: #111111;
  --text-color-green: #00c566ef;
  --text-color-green-flash: #1aff91;
  --scroll-bar: #00c566ef;
}

.active {
  color: var(--text-color-green-flash) !important;
}

// Scrollbar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #141414;
}
::-webkit-scrollbar-track {
  background-color: #555555;
}
* {
  scrollbar-color: #141414 #555555;
  scrollbar-width: thin;
}
